nav {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 99;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Bungee', cursive;
  font-size: 200%;
 }

.nav-right {
  text-align: center;
  display: grid;
}

.fa-angle-double-down {
  color: red;
}