.new-tweet {
  display: none;
}

#tweet-text {
  height: 1.8em;
  width: 100%;
  font-weight: 600;
  background-color: inherit;
  outline: none;
  border: 0px;
  border-bottom: 3px solid;
}

.new-tweet footer {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.btn {
  background-color: #4056A1;
  color: #FFFFFF;
}

.error-msg {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 80%;
  font-weight: 600;
  text-align: center;
  color: red;
  display: none;
}

.red {
  color: red;
}